<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1} - %L] - %m%n" />
		</layout>
	</appender>

	<appender name="fileAppender" class="com.qatools.logger.TimeStampLogger">
		<param name="Threshold" value="DEBUG" />
		<param name="timeformat" value="dd_MMM_yyyy_HH_mm_ss" />
		<param name="File" value="log/automation_tool.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1} - %L] - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="INFO" />
		<appender-ref ref="fileAppender" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>